<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{modele-page :: layout('Registration',~{::link} , ~{::#content-wrapper})}">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="css/output.css" >
</head>
<body>

    <div id="content-wrapper">
        <h1>S'Inscrire</h1>

        <form th:action="@{/inscription}" method="post" th:object="${utilisateur}">

            <div class="border-b border-gray-900/10 pb-12">
                <h2>Mon Profil</h2>

                <div>
                    <div>
                        <label for="pseudo">Psuedo: </label>
                        <div>
                            <input type="text" name="pseudo" id="pseudo" th:field="*{pseudo}" required>
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
                    </div>

                    <div>
                        <label for="nom">Nom: </label>
                        <div>
                            <input type="text" name="nom" id="nom" th:field="*{nom}">
                        </div>
                    </div>

                    <div>
                        <label for="prenom">Prenom: </label>
                        <div>
                            <input type="text" name="prenom" id="prenom" th:field="*{prenom}">
                        </div>
                    </div>

                    <div>
                        <label for="email">Email: </label>
                        <div>
                            <input type="email" name="email" id="email" th:field="*{email}" required>
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div>
                        <label for="phone">Telephone: </label>
                        <div>
                            <input type="tel" name="phone" id="phone" th:field="*{telephone}" placeholder="0xxxxxxxxx" pattern="[0-9]{10}">
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
                    </div>

                    <div>
                        <label for="rue">Rue: </label>
                        <div>
                            <input type="text" name="rue" id="rue" th:field="*{rue}">
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}"></span>
                    </div>

                    <div>
                        <label for="codePostal">Code postal: </label>
                        <div>
                            <input type="text" name="codePostal" id="codePostal" th:field="*{codePostal}">
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></span>
                    </div>

                    <div>
                        <label for="ville">Ville: </label>
                        <div>
                            <input type="text" name="ville" id="ville" th:field="*{ville}">
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
                    </div>

                    <div>
                        <label for="motDePasse">Mot de Passe: </label>
                        <div>
                            <input type="password" name="motDePasse" id="motDePasse" th:field="*{motDePasse}" required>
                        </div>
                        <span style="color: red" th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}"></span>
                    </div>

                    <div>
                        <label for="confirmation">Confirm Password: </label>
                        <div>
                            <input type="password" name="motDePasseConfirmation" id="confirmation" required>
                        </div>
                    </div>
                    <div th:if="${passwordMismatch}" class="error-message">The passwords do not match.</div>

                    <div>
                        <label for="credit">Credit: </label>
                        <div>
                            <input type="text" name="credit" id="credit" th:value="0.0" th:readonly="readonly">
                        </div>
                    </div>

                    <div>
                        <span th:if="${pseudoOrEmailError}" th:text="${pseudoOrEmailError}"></span>
                    </div>

                    <br>
                    <br>

                    <div>
                        <button type="submit" name="action" value="create">Creer</button>
                        <button type="submit" name="action" value="cancel">Annuler</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>
</html>