<!DOCTYPE html>
<html
    th:replace="~{modele-page :: layout('Creation de vente',~{::link} , ~{::#content-wrapper})}"
    xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8" />
        <title>Nouvelle vente</title>
        <link rel="stylesheet" th:href="@{/css/output.css}" />
    </head>

    <body>
        <div id="content-wrapper" class="flex flex-col justify-center items-center gap-8 mt-4 mb-8">
            <form th:action="@{/ajoutArticle}" th:object="${article}" method="post">
                <fieldset
                    class="flex flex-col gap-4 max-w-[600px] [&>div]:flex [&>div]:flex-row [&>div]:justify-between [&>div>label]:w-52"
                >
                    <legend class="text-h2 w-full text-center mb-8">Nouvelle vente</legend>

                    <div class="items-center">
                        <label for="nomArticle">Article:</label>
                        <input type="text" id="nomArticle" th:field="*{nomArticle}" />
                    </div>

                    <div>
                        <label for="description">Description:</label>
                        <textarea id="description" name="description"></textarea>
                    </div>

                    <div class="items-center" id="categorie">
                        <label for="categorie">Catégorie:</label>
                        <select name="categorie" class="border rounded" th:field="*{categorieArticle}">
                            <option value="0">Choisir un categorie...</option>
                            <option th:each="categorie : ${categorieList}" 
                            th:value="${categorie.noCategorie}" 
                            th:text="${categorie.libelle}">Type de genre</option>
                        </select>
                    </div>

                    <div class="items-center">
                        <label for="photo">Photo de l'article:</label>
                        <input type="file" id="photo" name="photo" />
                    </div>

                    <div class="items-center" >
                        <label for="miseAPrix">Mise à prix:</label>
                        <input type="number" id="miseAPrix" th:field="*{miseAPrix}" />
                    </div>

                    <div class="items-center">
                        <label for="debutEnchere">Début de l'enchère:</label>
                        <input type="date" id="debutEnchere" name="debutEnchere" th:field="*{dateDebutEncheres}" />
                    </div>

                    <div class="items-center">
                        <label for="finEnchere">Fin de l'enchère:</label>
                        <input type="date" id="finEnchere" name="finEnchere" th:field="*{dateFinEncheres}"/>
                    </div>
                    
                    <fieldset class="border border-black relative p-4" >
                        <legend class="bg-white absolute top-0 left-0 -translate-y-1/2 translate-x-1/2 px-1">
                            Retrait
                        </legend>
                        
                        <div class="flex flex-col gap-4 max-w-[600px] [&>div]:flex [&>div]:flex-row [&>div]:justify-between [&>div]:items-center [&>div>label]:w-52">
                            <div>
                                <label for="rue">Rue:</label>
                                <input type="text" id="rue" name="retrait.rue" th:field="*{retrait.rue}"/>
                            </div>

                            <div>
                                <label for="codePostal">Code postal:</label>
                                <input type="text" id="codePostal" name="retrait.codePostal" th:field="*{retrait.codePostal}"/>
                            </div>

                            <div>
                                <label for="ville">Ville:</label>
                                <input type="text" id="ville" name="retrait.ville" th:field="*{retrait.ville}"/>
                            </div>
                        </div>
                    </fieldset>

                    <div class="flex gap-2">
                        <input type="submit" value="Enregistrer" class="btn rounded-none" />
                        <a href="/encheres" class="btn flex justify-center items-center w-full m-w-[300px]">Annuler</a>
                        <a href="/encheres" class="btn flex justify-center items-center w-full m-w-[300px]">Annuler la vente</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
