@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --height-header: 80px;
    --height-footer: 208px;
    --height-content: calc(100vh - var(--height-header) - var(--height-footer));
    --desk-layout: 70%;
    --mobil-layout: 92%;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BeVietnamPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline-offset: 0;
  }

  html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
}

.btn {
  @apply  p-2.5 bg-secondary shadow-sm
}

.btn:hover {
  @apply  p-2.5 bg-primary shadow-lg border border-tertiary
}

/* ----------- input styling ------------ */
input, textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
}

input:focus, textarea:focus {
  /* Styles pour l'état focus */
  border-color: blue;
  outline: none;
}

input[type=text], input[type=number], input[type=email], input[type=tel], input[type=password],textarea {
  @apply border border-tertiary
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, textarea:focus {
  @apply bg-primary border-transparent
}

input[type=text]:focus::placeholder, input[type=number]:focus::placeholder, input[type=email]:focus::placeholder, input[type=tel]:focus::placeholder, input[type=password]:focus::placeholder, textarea:focus::placeholder {
  @apply text-transparent
}


