<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Encheres</title>
</head>
<body>
<div>
    <div th:each="enchere : ${encheres}">
        <a th:href="@{/encheres/(noEnchere=${enchere.noEnchere})}">
            <p th:text="${enchere.dateEnchere} + ' ' + ${enchere.montantEnchere} + ' ' + ${enchere.noArticle}"></p>
            <p th:text="${enchere.noArticle} + ' ' + ${enchere.noUtilisateur}"></p>
        </a>
    </div>

</div>
</body>
</html>