<!DOCTYPE html>
<html th:replace="~{modele-page :: layout('Profil d\'utilisateur',~{::link} , ~{::#content-wrapper})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Modifier mon profil</title>
        <link rel="stylesheet" href="css/output.css" />
    </head>

    <body>
        <div id="content-wrapper">
            <form th:action="@{/utilisateurs/mon-profil}" method="post" th:object="${userConnected}" class="mt-20 mb-8">
                <div class="flex flex-col gap-2 [&>div]:flex [&>div]:flex-row [&>div>label]:w-40 [&>div>label]:content-center">
                    <input type="hidden" th:field="*{noUtilisateur}" />

                    <div>
                        <label for="pseudo">Pseudo:</label>
                        <input type="text" id="pseudo" th:field="*{pseudo}" readonly="readonly" class="border-none text-center uppercase" />
                    </div>

                    <div>
                        <label for="nom">Nom:</label>
                        <input type="text" name="nom" id="nom" th:field="*{nom}" />
                    </div>

                    <div>
                        <label for="prenom">Prénom:</label>
                        <input type="text" name="prénom" id="prenom" th:field="*{prenom}" />
                    </div>

                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" th:field="*{email}" />
                    </div>

                    <div>
                        <label for="telephone">Téléphone:</label>
                        <input type="text" id="telephone" th:field="*{telephone}" />
                    </div>

                    <div>
                        <label for="rue">Rue:</label>
                        <input type="text" id="rue" th:field="*{rue}" />
                    </div>

                    <div>
                        <label for="codePostal">Code Postal:</label>
                        <input type="text" id="codePostal" th:field="*{codePostal}" />
                    </div>

                    <div>
                        <label for="ville">Ville:</label>
                        <input type="text" id="ville" th:field="*{ville}" />
                    </div>
                    <div class="flex justify-center pt-12">
                        <div class="flex justify-center gap-16 max-w-[250px]">
                            <input type="submit" role="button" value="Modifier" class="btn w-32 h-20 rounded-none shadow-xl" name="action" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
