<!DOCTYPE html>
<html th:replace="~{modele-page :: layout('Profil d'utilisateur',~{::link} , ~{::#content-wrapper})}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Modifier mon profil</title>
<link rel="stylesheet" href="css/output.css" >

</head>
<body>
<div id="content-wrapper">
	 <h1>Mon profil</h1>

	<form th:action="@{/utilisateurs/mon-profil}" method="post" th:object="${userConnected}">
	    <input type="hidden" th:field="*{noUtilisateur}"/>
	    <div>
	        <label for="pseudo">Pseudo:</label>
	        <input type="text" id="pseudo" th:field="*{pseudo}"  readonly="readonly"/>
	    </div>
	    <div>
	        <label for="nom">Nom:</label>
	        <input type="text" id="nom" th:field="*{nom}"/>
	    </div>
	    <div>
	        <label for="prenom">Prénom:</label>
	        <input type="text" id="prenom" th:field="*{prenom}"/>
	    </div>
	    <div>
	        <label for="email">Email:</label>
	        <input type="email" id="email" th:field="*{email}"/>
	    </div>
	    <div>
	        <label for="telephone">Téléphone:</label>
	        <input type="text" id="telephone" th:field="*{telephone}"/>
	    </div>
	    <div>
	        <label for="rue">Rue:</label>
	        <input type="text" id="rue" th:field="*{rue}"/>
	    </div>
	    <div>
	        <label for="codePostal">Code Postal:</label>
	        <input type="text" id="codePostal" th:field="*{codePostal}"/>
	    </div>
	    <div>
	        <label for="ville">Ville:</label>
	        <input type="text" id="ville" th:field="*{ville}"/>
	    </div>
	    <input type="submit" value="Modifier"/>
	</form>
</div>

</body>
</html>